body {
    background-color: #eee;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

.container {
    text-align: center;
    margin: auto;
    width: 65%;
    padding: 10px;
    border: 3px solid black;
}

.hangmanTitle {
    font-family: 'Gugi', cursive;
    font-size: 7em;
    margin-bottom: 0;
    width: 100%;
}

.start-alert-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    /* vertical-align: center; */
    margin: 10px;
    /* width: 50%; */
}

.card-text {
    font-size: 30px;
}

/* h1,
h2,
h4 {
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 94, 0, 0.952);
} */



/* h3,
h5,
h6 {
    display: block;
    font-size: 1.17em;
    margin: 10px;
    padding: 10px;
} */


#currentWord {
    letter-spacing: 10px;
    border: black;
    font-size: 35px;
}

/* #pressKeyTryAgain {
    background-color: rgba(89, 0, 255, 0.747);
    border: black;
} */

#totalWins, #currentWord, #remainingGuesses, #guessedLetters {
    line-height: 20px;
    min-height: 20px;
}

#guessedLetters {
    min-height: 20px;
}